
.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  grid-template-columns: 1fr 5fr ;
  grid-template-rows: 1fr 5fr 1fr ;
  grid-gap: 2vw 2vh;
//  grid-auto-rows: 150px ;
//  background-color: green;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

nav {
    // margin: 0px;
    // padding: 0px;
    // display: inline-flex;
    // flex-direction: column;

    // justify-content: center;
    // align-items: center;
    grid-area: nav;
 //   overflow: scroll;

  }

button {
  width: 100%;
  display: block;
  cursor: pointer;
}



.izd , .der {
    border : 1vw aqua solid;
    float : left;
    margin : 1vw;
    align : center;
  	padding : 2vw;
//    width: 40vw;
}


table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


canvas.old {
  display: block;
  margin: 0 auto;
  margin: calc(50vh - 150px) auto 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 3px #ccc;
  cursor:pointer;
}

canvas {
  display: block;
  margin: 0 auto;

    width: 500;
    height: 500;
    background-color: aqua;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px #ccc;
    cursor:pointer;
}


p{
  text-align:center;
  cursor:pointer;
}

.lisaver ,
.casillar {
    cursor:pointer;
}
/*
.rubrica {
  visibility: hidden;
}
*/
@media only screen and (max-width: 600px){
.container {
  grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";

    }
}

@media only print {
  * {
    margin: 0cm;
    padding: 0cm;
  }
  .container {
    grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 5fr 1fr ;

      }
    main {
        grid-template-areas:

            "izd der"
          "tabla tabla"
          grid-template-columns: 1fr 1fr ;
          grid-template-rows: 1fr 1fr ;

          }

#izd{
    grid-area: izd;
}


#der{
    grid-area: der;
}

#tabla{
    grid-area: tabla;
}

  nav {
    display: none;
  }

}
